/**
    Brand colors
*/
$color-primary: #101D24;
$color-secondary: #1C4155;
$color-third: #416774;
$color-fourth: #E1E2E4;
$color-fifth: #C49F3B;


/**
    Social media colors
*/

/**
    Feedback colors:
*/

$color-error: "";
$color-danger: "";
$color-success: "";

/**
    Basic colors
*/

$color-white: #fff;
$color-black: #000;