<div class="row">
  <div class="col">
      <h1>Contact</h1>
  </div>
</div>
<div class="row">
  <div class="col">
      <div class="bg-image bg-image-vertical"></div>
  </div>
  <div class="col">
      <div class="row">
          <div class="col">
              <span class="input input--haruki">
                  <input class="input__field input__field--hoshi" type="text" id="input-1" />
                  <label class="input__label input__label--hoshi" for="input-1">
                      <span class="label input__label-content input__label-content--hoshi">First Name</span>
                  </label>
              </span>
          </div>
      </div>
      <div class="row">
          <div class="col">
              <span class="input input--haruki">
                  <input class="input__field input__field--hoshi" type="text" id="input-1" />
                  <label class="input__label input__label--hoshi" for="input-1">
                      <span class="label input__label-content input__label-content--hoshi">Last Name</span>
                  </label>
              </span>
          </div>
      </div>
      <div class="row">
          <div class="col">
              <span class="input input--haruki">
                  <input class="input__field input__field--hoshi" type="text" id="input-1" />
                  <label class="input__label input__label--hoshi" for="input-1">
                      <span class="label input__label-content input__label-content--hoshi">Lorem ipsum</span>
                  </label>
              </span>
          </div>
      </div>
      <div class="row">
          <div class="col">
              <span class="input input--haruki">
                  <input class="input__field input__field--hoshi" type="text" id="input-1" />
                  <label class="input__label input__label--hoshi" for="input-1">
                      <span class="label input__label-content input__label-content--hoshi">Dolor sit</span>
                  </label>
              </span>
          </div>
      </div>
      <div class="row">
          <div class="col">
              <span class="input input--haruki">
                  <input class="input__field input__field--hoshi" type="text" id="input-1" />
                  <label class="input__label input__label--hoshi" for="input-1">
                      <span class="label input__label-content input__label-content--hoshi">Amet</span>
                  </label>
              </span>
          </div>
      </div>
      <div class="row">
          <div class="col">
              <span class="input input--haruki">
                  <input class="input__field input__field--hoshi" type="text" id="input-1" />
                  <label class="input__label input__label--hoshi" for="input-1">
                      <span class="label input__label-content input__label-content--hoshi">Consectetur</span>
                  </label>
              </span>
          </div>
      </div>
      <div class="row">
          <div class="col"></div>
      </div>
      <div class="row">
          <div class="col"></div>
      </div>
      <div class="row">
          <div class="col"></div>
      </div>
      <div class="row">
          <div class="col"></div>
      </div>
  </div>
</div>