<div class="row">
  <div class="col">
      <h1>Team</h1>
  </div>
</div>
<div class="row">
  <div class="col">
      <img src="https://placehold.it/500x350" class="img-fluid" alt="" />
      <span class="d-block">Lorem ispum</span>
      <span class="d-block">Dolor sit amet consectetur</span>
  </div>
  <div class="col">
      <img src="https://placehold.it/500x350" class="img-fluid" alt="" />
      <span class="d-block">Lorem ispum</span>
      <span class="d-block">Dolor sit amet consectetur</span>
  </div>
  <div class="col">
      <img src="https://placehold.it/500x350" class="img-fluid" alt="" />
      <span class="d-block">Lorem ispum</span>
      <span class="d-block">Dolor sit amet consectetur</span>
  </div>
  <div class="col">
      <img src="https://placehold.it/500x350" class="img-fluid" alt="" />
      <span class="d-block">Lorem ispum</span>
      <span class="d-block">Dolor sit amet consectetur</span>
  </div>
</div>
<div class="row">
  <div class="col">
      <img src="https://placehold.it/500x350" class="img-fluid" alt="" />
      <span class="d-block">Lorem ispum</span>
      <span class="d-block">Dolor sit amet consectetur</span>
  </div>
  <div class="col">
      <img src="https://placehold.it/500x350" class="img-fluid" alt="" />
      <span class="d-block">Lorem ispum</span>
      <span class="d-block">Dolor sit amet consectetur</span>
  </div>
  <div class="col">
      <img src="https://placehold.it/500x350" class="img-fluid" alt="" />
      <span class="d-block">Lorem ispum</span>
      <span class="d-block">Dolor sit amet consectetur</span>
  </div>
  <div class="col">
      <img src="https://placehold.it/500x350" class="img-fluid" alt="" />
      <span class="d-block">Lorem ispum</span>
      <span class="d-block">Dolor sit amet consectetur</span>
  </div>
</div>
<div class="row">
  <div class="col">
      <img src="https://placehold.it/500x350" class="img-fluid" alt="" />
      <span class="d-block">Lorem ispum</span>
      <span class="d-block">Dolor sit amet consectetur</span>
  </div>
  <div class="col">
      <img src="https://placehold.it/500x350" class="img-fluid" alt="" />
      <span class="d-block">Lorem ispum</span>
      <span class="d-block">Dolor sit amet consectetur</span>
  </div>
  <div class="col">
      <img src="https://placehold.it/500x350" class="img-fluid" alt="" />
      <span class="d-block">Lorem ispum</span>
      <span class="d-block">Dolor sit amet consectetur</span>
  </div>
  <div class="col">
      <img src="https://placehold.it/500x350" class="img-fluid" alt="" />
      <span class="d-block">Lorem ispum</span>
      <span class="d-block">Dolor sit amet consectetur</span>
  </div>
</div>