<div class="row">
  <div class="col-12 content-inner">
    <div class="row">
      <section class="section section__home col-12">
        <div class="container container-content">
          <div class="row">
            <div class="col-md-12 container-logo">
              <img src="assets/images/logo.png" alt="Krypt.ly logo" class="img-logo js-tilt data-tilt" data-tilt />
            </div>
            <div class="col-md-12">
              <div class="container-buttons">
                <a href="" class="btn btn__primary">Lorem ipsum
                  <span></span>
                </a>
                <a href="" class="btn btn__primary">Dolor sit amet
                  <span></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section__vision col-12">
        <div class="container container-content">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-12">
                  <h2 class="title section__vision__title text-ceneter">Vision</h2>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-6 section__vision__image">
                  <img src="https://placekitten.com/g/600/600" class="img-fluid" alt="">
                </div>
                <div class="col-12 col-sm-6 section__vision__text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil officia doloremque id, dolore facilis vitae accusamus molestias
                  nobis nulla atque quia mollitia! Quisquam cupiditate sapiente dolorum perspiciatis dicta corrupti ipsum?
                  Soluta quod repellat vero cupiditate fuga temporibus, vel doloremque voluptatum nemo eaque, quos ducimus
                  cum quo laboriosam magni enim fugit dolorum rem dolores reiciendis maxime accusamus, minus dignissimos.
                  Qui, id. Sunt facere, corporis aliquam architecto beatae nobis dolore sequi quas deleniti enim ut ab placeat
                  libero dignissimos eligendi maiores cupiditate recusandae dolores quidem harum amet nihil fugiat! Quod,
                  praesentium reiciendis. Amet saepe impedit alias laborum recusandae, voluptatum facilis totam, quas in
                  aspernatur est dolorem labore, ex maiores repellendus maxime odit asperiores eum ut. Eligendi nulla sit
                  illum doloremque repudiandae quod? Nemo corporis aperiam laborum quibusdam, suscipit, nesciunt ea accusantium,
                  debitis molestiae ad repudiandae magnam? Porro assumenda odio voluptatum praesentium rem pariatur voluptate
                  accusamus est, minus, ea odit temporibus optio recusandae. Cupiditate facere iste, veritatis quasi aspernatur
                  dolores sunt in velit quas vel reiciendis ducimus nulla architecto corrupti libero eum. Nisi, dolorem sequi
                  maxime pariatur asperiores sit animi at id eos! Vitae, earum possimus provident sint, illo architecto officia
                  modi molestias voluptatem vero, in vel! Ipsam minima, itaque quidem recusandae velit, aperiam eos ea debitis,
                  omnis error sequi maiores earum provident! Ex quos qui nobis ratione maiores expedita, reprehenderit accusantium
                  iusto.
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section__services col-12">
        <div class="container container-content">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-12">
                  <h2 class="title section__services__title text-ceneter">Services</h2>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-6 col-md-3">
                  <div class="card__service">
                    <img src="https://placekitten.com/g/500/300" alt="" class="img-fluid card__service__image">
                    <h3 class="title card__service__title">Service</h3>
                    <p class="card__service__text">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla iste dolore accusantium quas doloribus dolorem voluptatibus
                      necessitatibus, voluptates reprehenderit reiciendis culpa sunt similique laborum odio quis earum perferendis.
                      Minima aspernatur, nemo ratione cumque dolor amet ut repellendus sunt voluptates a, laboriosam vel
                      deserunt quidem! Porro natus doloribus vel perferendis obcaecati.
                    </p>
                    <button>Lorem ipsum</button>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                  <div class="card__service">
                    <img src="https://placekitten.com/g/500/300" alt="" class="img-fluid card__service__image">
                    <h3 class="title card__service__title">Service</h3>
                    <p class="card__service__text">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla iste dolore accusantium quas doloribus dolorem voluptatibus
                      necessitatibus, voluptates reprehenderit reiciendis culpa sunt similique laborum odio quis earum perferendis.
                      Minima aspernatur, nemo ratione cumque dolor amet ut repellendus sunt voluptates a, laboriosam vel
                      deserunt quidem! Porro natus doloribus vel perferendis obcaecati.
                    </p>
                    <button>Lorem ipsum</button>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                  <div class="card__service">
                    <img src="https://placekitten.com/g/500/300" alt="" class="img-fluid card__service__image">
                    <h3 class="title card__service__title">Service</h3>
                    <p class="card__service__text">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla iste dolore accusantium quas doloribus dolorem voluptatibus
                      necessitatibus, voluptates reprehenderit reiciendis culpa sunt similique laborum odio quis earum perferendis.
                      Minima aspernatur, nemo ratione cumque dolor amet ut repellendus sunt voluptates a, laboriosam vel
                      deserunt quidem! Porro natus doloribus vel perferendis obcaecati.
                    </p>
                    <button>Lorem ipsum</button>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                  <div class="card__service">
                    <img src="https://placekitten.com/g/500/300" alt="" class="img-fluid card__service__image">
                    <h3 class="title card__service__title">Service</h3>
                    <p class="card__service__text">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla iste dolore accusantium quas doloribus dolorem voluptatibus
                      necessitatibus, voluptates reprehenderit reiciendis culpa sunt similique laborum odio quis earum perferendis.
                      Minima aspernatur, nemo ratione cumque dolor amet ut repellendus sunt voluptates a, laboriosam vel
                      deserunt quidem! Porro natus doloribus vel perferendis obcaecati.
                    </p>
                    <button>Lorem ipsum</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section__map col-12"></section>
    </div>
  </div>
</div>